html {
    background-image: url("../img/background.jpg");
    background-size: cover;
    /* 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-attachment: fixed;
    /* 当页面的其余部分滚动时，背景图像不会移动。 */
    background-repeat: no-repeat;
}

body {
    color: ghostwhite;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 192, 203, 0.8);
}