html {
    background-image: url("https://cdn.jsdelivr.net/gh/hencter/hencter.github.io@main/static/img/background.jpg");
    background-size: cover;
    /* 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-attachment: fixed;
    /* 当页面的其余部分滚动时，背景图像不会移动。 */
    background-repeat: no-repeat;
}

body {
    background: rgba(207, 207, 207, 0.7);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

footer {
    padding: 20px 0;
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(85, 88, 255)
}

a:visited {
    color: #4785c7
}

#copyright {
    text-align: center;
}

.avatar {
    width: 10%;
    float: right;
    margin-top: -8%;
    margin-right: 3%;
    border-radius: 10%
}

.tags {
    border: 1px solid ghostwhite;
    border-radius: 5px;
    background: gainsboro;
    padding: 3px;
    text-decoration: none;
}

.list-page {
    padding: 10px;
    list-style: none;
}

.list-title {
    font-size: 18px;
    margin: 20px;
}

.homepage-content {
    margin: 10px;
}

.homepage-content li {
    padding: 10px;
    list-style: none;
}

.time {
    float: right;
    font-size: 16px;
}

.previous {
    padding-left: 20px;
}

.next {
    padding-right: 20px;
    float: right;
}

.pagination {
    text-align: center;
}

.home-page-title {
    font-size: 17px;
}

.logo-title {
    margin: 20px;
}

.nav a {
    padding-left: 20px;
}

.format {
    padding: 0 20px;
    border-bottom: 2px dotted gray;
}

.markdown {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (min-width: 600px) {
    /* 当宽度小于 600px 后使用下面的样式 */
    /* 这是最简单响应式布局 */
    .markdown {
        padding: 20px;
    }
    h1 {
        font-size: 3rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: rgba(51, 51, 51, 0.7);
    }
    a:link {
        color: #5bf
    }
    a:visited {
        color: #e94560
    }
    .tags {
        border: 1px solid rgb(150, 150, 150);
        border-radius: 5px;
        background: rgb(68, 68, 68);
        padding: 2px;
        text-decoration: none;
    }
    .markdown {
        filter: invert(100%);
    }
    /* 再次反色不就回来了嘛 */
    .markdown .highlight {
        filter: invert(100%);
    }
}