html {
    background-image: url("../img/background.jpg");
    background-size: cover;
    /* 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域 */
    background-attachment: fixed;
    /* 当页面的其余部分滚动时，背景图像不会移动。 */
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(240, 248, 255, 0.7);
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

h1 {
    font-size: 2rem;
}

@media (min-width: 600px) {
    /* 这是最简单响应式布局 */
    h1 {
        font-size: 3rem;
    }
    .markdown-body {
        padding: 15px;
    }
    .markdown-body li {
        list-style: none ;
    }

    .markdown-body img {
        width: 80%;
    }
}